.tool_div {
    display: none;
}

@media (max-width: 768px) {
    .range {
        transition: 0.5s;
        scale: 1;
        a{
            text-decoration: none;
        }
    }

    .range.scale {
        transition: 0.5s;
        scale: 1.1;
    }

    .tool_div {
        display: block;
        flex-direction: row;
        transition: .2s all;
        z-index: 999;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 4.5%;
        width: 100%;
        scale: 1;

        .range {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            position: relative;

            .cell {
                display: flex;
                align-content: center;
                align-items: center;
                background-color: #000;
                line-height: calc((6vw / 65)*100);
                border-radius: calc((50vw / 175)*100);
                padding: 8px 20px;
                line-height: 1;
                width: 100%;
                z-index: 3;
                // overflow: hidden;
                justify-content: space-around;

                .cell_box {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    .box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        font-size: 3.2vw;
                    }

                    .box:nth-child(1) {
                        width: 6vw;
                        padding-right: 1.5vw;
                        z-index: 20;
                    }
                    .box:nth-child(2) {
                        letter-spacing: .1vw;
                    }
                    .box:nth-child(3) {
                        position: absolute;
                        overflow: hidden;
                        line-height: 6vw !important;
                        display: inline-block;
                        width: auto;
                        // 英文不會在字中間斷開，CJK 字元也不會在任意位置斷開
                        word-break: break-all;
                        // 多個空格合併為一個，但文本不會換行到下一行
                        white-space: nowrap;
                        z-index: 15;
                        letter-spacing: 1.5vw;
                    }
                }

                .lens {
                    width: 14%;
                    display: flex;
                    padding: 2vw;
                }
            }

            .maps {
                background-color: #b00000;
                line-height: calc((6vw / 65)*100);
                border-radius: calc((50vw / 175)*100);
                border-radius: 50%;
                width: 9vw;
                height: 9vw;
                position: absolute;
                // transform: translateX(25vw);
                // animation: move .8s ease-in-out 0s 1;
                // @keyframes move {
                //     0% {
                //         transform: translateX(0);
                //     }

                //     100% {
                //         transform: translateX(25vw);
                //     }
                // }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    width: 50%;
                    margin: 2vw auto;
                }
            }

            .lines {
                position: absolute;
                // transform: translateX(25vw);
                // animation: move .8s ease-in-out 0s 1;

                // @keyframes move {
                //     0% {
                //         transform: translateX(0);
                //     }

                //     100% {
                //         transform: translateX(25vw);
                //     }
                // }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    width: 11%;
                    margin: 2vw auto;
                }
            }

            .call {
                background-color: #ca7658;
                line-height: calc((6vw / 65)*100);
                border-radius: calc((50vw / 175)*100);
                border-radius: 50%;
                width: 9vw;
                height: 9vw;
                position: absolute;
                transform: translateX(25vw);
                animation: move .8s ease-in-out 0s 1;

                @keyframes move {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(25vw);
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    width: 50%;
                    margin: 2vw auto;
                }
            }

            .life {
                background-color: #0d004a;
                line-height: calc((6vw / 65)*100);
                border-radius: calc((50vw / 175)*100);
                border-radius: 50%;
                width: 9vw;
                height: 9vw;
                position: absolute;
                transform: translateX(25vw);
                animation: move .8s ease-in-out 0s 1;

                @keyframes move {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(25vw);
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    width: 50%;
                    margin: 2vw auto;
                }
            }

            .face {
                background-color: #1877f2;
                line-height: calc((6vw / 65)*100);
                border-radius: calc((50vw / 175)*100);
                border-radius: 50%;
                width: 9vw;
                height: 9vw;
                position: absolute;
                transform: translateX(25vw);
                animation: move .8s ease-in-out 0s 1;

                @keyframes move {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(25vw);
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    width: 30%;
                    margin: 2vw auto;
                }
            }
        }
    }

    .tool_div div:nth-child(1) .box {
        color: #fff !important;
        text-decoration: none;
    }
}