.tool_div {
  display: none;
}

@media (max-width: 768px) {
  .range {
    transition: 0.5s;
    scale: 1;
  }
  .range a {
    text-decoration: none;
  }
  .range.scale {
    transition: 0.5s;
    scale: 1.1;
  }
  .tool_div {
    display: block;
    flex-direction: row;
    transition: 0.2s all;
    z-index: 999;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 4.5%;
    width: 100%;
    scale: 1;
  }
  .tool_div .range {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
  }
  .tool_div .range .cell {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #000;
    line-height: 9.2307692308vw;
    border-radius: 28.5714285714vw;
    padding: 8px 20px;
    line-height: 1;
    width: 100%;
    z-index: 3;
    justify-content: space-around;
  }
  .tool_div .range .cell .cell_box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .tool_div .range .cell .cell_box .box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 3.2vw;
  }
  .tool_div .range .cell .cell_box .box:nth-child(1) {
    width: 6vw;
    padding-right: 1.5vw;
    z-index: 20;
  }
  .tool_div .range .cell .cell_box .box:nth-child(3) {
    position: absolute;
    overflow: hidden;
    line-height: 6vw !important;
    display: inline-block;
    width: auto;
    word-break: break-all;
    white-space: nowrap;
    z-index: 15;
  }
  .tool_div .range .cell .lens {
    width: 14%;
    display: flex;
  }
  .tool_div .range .maps {
    background-color: #b00000;
    line-height: 9.2307692308vw;
    border-radius: 28.5714285714vw;
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    position: absolute;
  }
  .tool_div .range .maps a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    margin: 2vw auto;
  }
  .tool_div .range .lines {
    position: absolute;
  }
  .tool_div .range .lines a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 11%;
    margin: 2vw auto;
  }
  .tool_div .range .call {
    background-color: #ca7658;
    line-height: 9.2307692308vw;
    border-radius: 28.5714285714vw;
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    position: absolute;
    transform: translateX(25vw);
    -webkit-animation: move 0.8s ease-in-out 0s 1;
            animation: move 0.8s ease-in-out 0s 1;
  }
  @-webkit-keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(25vw);
    }
  }
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(25vw);
    }
  }
  .tool_div .range .call a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    margin: 2vw auto;
  }
  .tool_div .range .life {
    background-color: #0d004a;
    line-height: 9.2307692308vw;
    border-radius: 28.5714285714vw;
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    position: absolute;
    transform: translateX(25vw);
    -webkit-animation: move 0.8s ease-in-out 0s 1;
            animation: move 0.8s ease-in-out 0s 1;
  }
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(25vw);
    }
  }
  .tool_div .range .life a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    margin: 2vw auto;
  }
  .tool_div .range .face {
    background-color: #1877f2;
    line-height: 9.2307692308vw;
    border-radius: 28.5714285714vw;
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    position: absolute;
    transform: translateX(25vw);
    -webkit-animation: move 0.8s ease-in-out 0s 1;
            animation: move 0.8s ease-in-out 0s 1;
  }
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(25vw);
    }
  }
  .tool_div .range .face a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30%;
    margin: 2vw auto;
  }
  .tool_div div:nth-child(1) .box {
    color: #fff !important;
    text-decoration: none;
  }
}/*# sourceMappingURL=island.css.map */